
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Flashcard {
	background-color: dimgray;
    padding: 70px 0;
    text-align: center;
	position: absolute;
	width: 558px;
	height: 624px;
	left: 30%;
	top: 10%;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___2.html;
	cursor: pointer;
}
.text {
	margin-left: auto;
	margin-right: auto;
}